/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global html {
    height: 100%;
}
:global body {
    display: flex;
    background-color: lightgray;
    height: 100%;
    margin: auto;
}
:global #app {
    color: #696969;
    max-width: 1600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:global #app p {
    text-align: justify;
}
:global .hello {
    color: var(--primary-color);
}
